* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("./bg.png");
    background-size: cover;
    background-position: left top;
    font-family: "Zilla Slab", serif;
    color: white;
  }
  
  .box-container {
    width: 70%;
    margin: 0 auto;
  }

  .question {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      92.49deg,
      rgba(255, 255, 255, 0.1) 0.18%,
      rgba(255, 255, 255, 0.05) 99.85%
    );
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
  }
  .title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .answer{
    display: flex;
  }

  .part{
    width: 50%;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding: 40px;
    color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1rem;
}